<!-- <mat-form-field class="full-width">
    <mat-label>{{label ? label :placeholder}}</mat-label>
    <input matInput [placeholder]="placeholder" [formControl]="control" [required]="required" [maxlength]="length"
        [max]="max" [readonly]="readonly" (click)="picker.open()" [matDatepicker]="picker">
    <button mat-button *ngIf="control.value" matSuffix mat-icon-button aria-label="Clear"
        (click)="control.setValue(null)" type="button">
        <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="control.invalid">
        <span *ngIf="control.errors?.required">{{label ? label : placeholder}} là bắt buộc</span>
    </mat-error>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->

<div class="form-group full-width">
  <label>{{ label ? label : placeholder }}</label>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      [placeholder]="placeholder ? placeholder : label"
      [formControl]="control"
      [required]="required"
      [maxlength]="length"
      [max]="max"
      [readonly]="readonly"
      (click)="picker.open()"
      [matDatepicker]="picker"
      [ngClass]="{
        'is-invalid':  control.invalid && (control.dirty || control.touched || submitted)
      }"
    />
    <div class="input-group-append">
      <span class="input-group-text"  (click)="picker.open()"><i class="fa fa-calendar-day"></i></span>
    </div>
    <ng-container *ngIf=" control.invalid && (control.dirty || control.touched || submitted)">
      <ng-container *ngIf="control.errors.required">
        <span class="error invalid-feedback"> {{ label }} là bắt buộc </span>
      </ng-container>
      <ng-container *ngIf="control.errors.biggerDate">
        <span class="error invalid-feedback"> {{ label }} không được lớn hơn {{_biggerDate | date:'dd/MM/yyyy'}} </span>
      </ng-container>
      <ng-container *ngIf="control.errors.lessPresent">
        <span class="error invalid-feedback"> {{ label }} không được nhỏ hơn ngày hiện tại </span>
      </ng-container>
    </ng-container>
  </div>
  <mat-datepicker #picker></mat-datepicker>
</div>
