<div class="form-group full-width">
  <ng-container *ngIf="label">
    <label>{{ label ? label : placeholder }}</label>
  </ng-container>
  <div class="input-group">
      <input
        class="form-control"
        [placeholder]="placeholder ? placeholder : ''"
        value="/"
        [formControl]="control"
        [required]="required"
        ngxDaterangepickerMd
        startKey="fromDate"
        endKey="toDate"
        [ranges]="ranges"
        [locale]="locale"
        alwaysShowCalendars="true"
      />
</div>