<div class="modal-content">
  <div class="modal-header">
    <span class="modal-title">Chốt hồ sơ khách hàng</span>
    <span type="button" class="close" mat-dialog-close>
      <span aria-hidden="true">×</span>
    </span>
  </div>
  <div class="modal-body">
    <div mat-dialog-content>
      <div class="card-body">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
          <tinh-thanh-ctrl label="Tỉnh thành" fxFlex="33%"></tinh-thanh-ctrl>
        </div>
      </div>
    </div>
  </div>
</div>
