<!-- <mat-form-field class="full-width">
    <mat-label>{{label ? label :placeholder}}</mat-label>
    <ng-container *ngIf="!textarea;else textareaHTML;">
        <input matInput [placeholder]="placeholder" [formControl]="control" [required]="required" [type]="type"
            [maxlength]="length" [max]="max">
    </ng-container>
    <ng-template #textareaHTML>
        <textarea matInput [placeholder]="placeholder" [formControl]="control" [required]="required" [type]="type"
            [maxlength]="length"></textarea>
    </ng-template>
    <mat-hint>{{hint}}</mat-hint>
    <button mat-button *ngIf="control.value" matSuffix mat-icon-button aria-label="Clear"
        (click)="control.setValue(null)" type="button">
        <mat-icon>close</mat-icon>
    </button>
    <mat-icon *ngIf="icon" matSuffix>{{icon}}</mat-icon>
    <ng-container *ngIf="suffix">
        <span matSuffix>{{suffix}}</span>
    </ng-container>

    <mat-error *ngIf="control.invalid">
        <span *ngIf="control.errors?.required">{{label ? label : placeholder}} là bắt buộc</span>
        <span *ngIf="control.errors?.email">Chưa đúng định dạng email</span>
        <span *ngIf="control.errors?.mobilephone">Chưa đúng định dạng số điện thoại</span>
        <span *ngIf="control.errors.normalCharacters">Chỉ được nhập các ký tự số (0-9)
            và chữ (A-Z,a-z)</span>
    </mat-error>
</mat-form-field> -->

<div class="form-group full-width">
  <ng-container *ngIf="label">
    <label>{{ label ? label : placeholder }}</label
    ><ng-container *ngIf="required">*</ng-container>
  </ng-container>
  <div class="input-group">
    <ng-container *ngIf="!textarea; else textareaHTML">
      <input
        type="text"
        class="form-control"
        [ngClass]="{
          'is-invalid': control.invalid && (control.dirty || control.touched)
        }"
        [placeholder]="placeholder ? placeholder : ''"
        [formControl]="control"
        [required]="required"
        [type]="type"
        [maxlength]="length"
        [max]="max"
        [min]="min"
        [readonly]="readonly"
      />
    </ng-container>
    <ng-template #textareaHTML>
      <textarea
        class="form-control"
        [placeholder]="placeholder ? placeholder : ''"
        [formControl]="control"
        [required]="required"
        [maxlength]="length"
        [readonly]="readonly"
      ></textarea>
    </ng-template>
    <div class="input-group-append" *ngIf="suffix">
      <span class="input-group-text">{{ suffix }}</span>
    </div>
    <ng-container *ngIf="control.invalid && (control.dirty || control.touched)">
      <ng-container *ngIf="control.errors.required">
        <span class="error invalid-feedback"> {{ label }} là bắt buộc </span>
      </ng-container>
      <ng-container *ngIf="control.errors.mobilephone">
        <span class="error invalid-feedback">
          {{ label }} không đúng định dạng số điện thoại
        </span>
      </ng-container>
      <ng-container *ngIf="control.errors.decimalNumber">
        <span class="error invalid-feedback">
          {{ label }} không đúng định dạng số
        </span>
      </ng-container>
      <ng-container *ngIf="control.errors.email">
        <span class="error invalid-feedback">
          {{ label }} không đúng định dạng email
        </span>
      </ng-container>
      <ng-container *ngIf="control.errors.pattern">
        <span class="error invalid-feedback">
          {{ label }} không đúng định dạng
        </span>
      </ng-container>
    </ng-container>
  </div>
</div>
