<ng-container *ngIf="!isShowUpdate; else updateForm;">
    <div class="p-20">
        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
            <div fxFlex="30%">
                <mat-card class="example-card m-b-20">

                    <mat-card-content>
                        <mat-card-header class="border-bottom m-b-20">
                            <div class="label-type">Thông tin hồ sơ</div>
                        </mat-card-header>
                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>Trạng thái hồ sơ</label>
                            </div>
                            <div fxFlex="63%" style="color: green;">
                                <span>Đang TELESALE</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>Số lần khóa</label>
                            </div>
                            <div fxFlex="63%">
                                <span>1 lần</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>Khóa</label>
                            </div>
                            <div fxFlex="63%">
                                <span>Đang khóa</span>
                            </div>
                        </div>

                    </mat-card-content>
                </mat-card>

                <mat-card class="example-card m-b-20">
                    <!-- <mat-card-header>
                    <mat-card-title>Thông tin định danh</mat-card-title>
                </mat-card-header> -->
                    <img mat-card-image
                        src="https://scontent.fhan5-3.fna.fbcdn.net/v/t1.0-9/101824450_1606439909537738_7169990735763079168_n.jpg?_nc_cat=106&ccb=2&_nc_sid=09cbfe&_nc_ohc=qGDAcr36izQAX8pT8L6&_nc_ht=scontent.fhan5-3.fna&oh=1b590470fdb4d2cbf00f2b0c2fcacfdd&oe=5FE84296"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <div class="label-type">
                            <ng-container *ngIf="isShowCheckbox">
                                <mat-checkbox value="true"></mat-checkbox>
                            </ng-container>
                            <ng-container *ngIf="isShowChecked">
                                <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                            </ng-container>
                            Thông tin định danh và nhận diện
                        </div>
                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Họ và tên
                                </label>
                            </div>
                            <div fxFlex="63%">
                                <span>Tạ Đức Hiệp</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Ngày sinh
                                </label>
                            </div>
                            <div fxFlex="63%">
                                <span>29/08/1996</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Giới tính
                                </label>
                            </div>
                            <div fxFlex="63%">
                                <span>Nam</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Hộ khẩu thường trú
                                </label>
                            </div>
                            <div fxFlex="63%">
                                <span>Kim Tháp - Nguyệt Đức - Thuận Thành - Bắc Ninh</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Giấy tờ định danh
                                </label>
                            </div>
                            <div fxFlex="63%">
                                <span>Chứng minh nhân dân (9 số)</span>
                            </div>
                        </div>


                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Số định danh
                                </label>
                            </div>
                            <div fxFlex="63%">
                                <span>125631768</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Ngày cấp
                                </label>
                            </div>
                            <div fxFlex="63%">
                                <span>22/10/2016</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Nơi cấp
                                </label>
                            </div>
                            <div fxFlex="63%">
                                <span>CA Bắc Ninh</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Hiệu lực đến
                                </label>
                            </div>
                            <div fxFlex="63%">
                                <span>22/12/2222</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Quốc tịch
                                </label>
                            </div>
                            <div fxFlex="63%">
                                <span>VIỆT NAM</span>
                            </div>
                        </div>


                    </mat-card-content>
                </mat-card>

                <mat-card class="example-card  m-b-20">
                    <mat-card-header class="border-bottom m-b-20">
                        <div class="label-type">Thông tin phân loại</div>
                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>Loại khách hàng</label>
                            </div>
                            <div fxFlex="63%">
                                <span>Khách hàng thân thiết</span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="example-card  m-b-20">
                    <mat-card-header class="border-bottom m-b-20">
                        <div class="label-type">Thông tin đánh giá</div>
                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>Hạng tín dụng</label>
                            </div>
                            <div fxFlex="63%">
                                <span>AAA</span>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="35%">
                                <label>Điểm tín dụng</label>
                            </div>
                            <div fxFlex="63%">
                                <span>100</span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="68%">
                <mat-card class="example-card  m-b-20">
                    <mat-card-header class="border-bottom m-b-20">
                        <div class="label-type">
                            <ng-container *ngIf="isShowCheckbox">
                                <mat-checkbox value="true"></mat-checkbox>
                            </ng-container>
                            <ng-container *ngIf="isShowChecked">
                                <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                            </ng-container>
                            Thông tin liên hệ
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Số điện thoại
                                </label>
                            </div>
                            <div fxFlex="73%">
                                <span>0975290896</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Số điện thoại tham chiếu
                                </label>
                            </div>
                            <div fxFlex="73%">
                                <span>0975290896</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Email</label>
                            </div>
                            <div fxFlex="73%">
                                <span>hiepdev96@gmail.com</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Địa chỉ
                                </label>
                            </div>
                            <div fxFlex="73%">
                                <span>Số 22 Ngõ 322/95/25 Đường Mỹ Đình, Phường Mỹ Đình 1, Quận Nam Từ Liêm, Thành Phố
                                    Hà
                                    Nội</span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="example-card m-b-20">
                    <mat-card-header class="border-bottom m-b-20">
                        <div class="label-type">
                            <ng-container *ngIf="isShowCheckbox">
                                <mat-checkbox value="true"></mat-checkbox>
                            </ng-container>
                            <ng-container *ngIf="isShowChecked">
                                <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                            </ng-container>
                            Thông tin đặc trưng
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Giới tính hiện tại
                                </label>
                            </div>
                            <div fxFlex="73%">
                                <span>Nam</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Độ tuổi
                                </label>
                            </div>
                            <div fxFlex="73%">
                                <span>Thanh niên</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Tình trạng hôn nhân
                                </label>
                            </div>
                            <div fxFlex="73%">
                                <span>Đã kết hôn</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Số người phụ thuộc
                                </label>
                            </div>
                            <div fxFlex="73%">
                                <span>0 người</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Thu nhập hàng tháng
                                </label>
                            </div>
                            <div fxFlex="73%">
                                <span>1 triệu đồng</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Nhà ở
                                </label>
                            </div>
                            <div fxFlex="73%">
                                <span>Nhà thuê</span>
                            </div>
                        </div>


                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Trình độ học vấn
                                </label>
                            </div>
                            <div fxFlex="73%">
                                <span>Cao đẳng/ Đại học</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Danh hiệu
                                </label>
                            </div>
                            <div fxFlex="73%">
                                <span>Không</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Loại hình đơn vị công tác hiện tại
                                </label>
                            </div>
                            <div fxFlex="73%">
                                <span>Doanh nghiệp tư nhân</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Cấp quản lý</label>
                            </div>
                            <div fxFlex="73%">
                                <span>Doanh nghiệp tư nhân</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>
                                    <ng-container *ngIf="isShowCheckbox">
                                        <mat-checkbox value="true"></mat-checkbox>
                                    </ng-container>
                                    <ng-container *ngIf="isShowChecked">
                                        <mat-icon class="ic-checked">check_circle_outline</mat-icon>
                                    </ng-container>
                                    Thanh toán bằng thẻ tín dụng
                                </label>
                            </div>
                            <div fxFlex="73%">
                                <span>0 thẻ</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Tổn dư nợ tín dụng</label>
                            </div>
                            <div fxFlex="73%">
                                <span>0 triệu đồng</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Lịch sử tín dụng</label>
                            </div>
                            <div fxFlex="73%">
                                <span>Tốt</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Nợ xấu</label>
                            </div>
                            <div fxFlex="73%">
                                <span>Không</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Tổng giá trị đảm bảo</label>
                            </div>
                            <div fxFlex="73%">
                                <span>100 triệu đồng</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Tính thanh khoản</label>
                            </div>
                            <div fxFlex="73%">
                                <span>Tốt</span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="example-card  m-b-20">
                    <mat-card-header class="border-bottom m-b-20">
                        <div class="label-type">Thông tin khoản vay</div>
                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Loại khoản vay</label>
                            </div>
                            <div fxFlex="73%">
                                <span>Tiền mặt</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Tên sản phẩn vay</label>
                            </div>
                            <div fxFlex="73%">
                                <span>Vay để đi đánh lô đề cờ bạc</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Số tiền vay</label>
                            </div>
                            <div fxFlex="73%">
                                <span>1.000 triệu đồng</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Kỳ hạn</label>
                            </div>
                            <div fxFlex="73%">
                                <span>1 năm</span>
                            </div>
                        </div>


                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Hình thức cho vay</label>
                            </div>
                            <div fxFlex="73%">
                                <span>Tín chấp</span>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Hình thức thanh toán</label>
                            </div>
                            <div fxFlex="73%">
                                <span>Trả góp hàng tháng</span>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Lãi suất</label>
                            </div>
                            <div fxFlex="73%">
                                <span>8%/năm</span>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                            <div fxFlex="25%">
                                <label>Mục đích vay</label>
                            </div>
                            <div fxFlex="73%">
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor mi lorem, eu
                                    convallis augue blandit et. Proin at tempus eros, eget finibus orci. Integer semper
                                    ex
                                    condimentum mollis semper. Maecenas ac libero sed ante sagittis convallis.
                                    Vestibulum
                                    ultrices ipsum in dolor eleifend luctus. Nulla ornare mi in nulla aliquet, eget
                                    vestibulum eros tincidunt. Aenean ipsum ante, molestie non congue et, semper laoreet
                                    nibh. Aenean porta elit non libero venenatis pretium. Donec tempus tortor et risus
                                    porttitor accumsan. Duis quis gravida justo. Donec porttitor orci eu facilisis
                                    elementum. Fusce dignissim mi a lacus faucibus,</span>
                            </div>
                        </div>

                    </mat-card-content>
                </mat-card>

                <mat-card class="example-card  m-b-20">
                    <mat-card-header class="border-bottom m-b-20">
                        <div class="label-type">Thông tin các tệp đính kèm</div>
                    </mat-card-header>
                    <mat-card-content>
                        <div>
                            <a href="#">Tệp đính kèm 1.pdf</a>
                        </div>
                        <div>
                            <a href="#">Tệp đính kèm 2.pdf</a>
                        </div>
                        <div>
                            <a href="#">Tệp đính kèm 3.pdf</a>
                        </div>
                        <div>
                            <a href="#">Tệp đính kèm 4.pdf</a>
                        </div>
                        <div>
                            <a href="#">Tệp đính kèm 5.pdf</a>
                        </div>
                    </mat-card-content>
                </mat-card>




            </div>
        </div>
        <hr>
        <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
            <button mat-raised-button color="primary" (click)="showUpdate(true)">Cập nhật hồ sơ</button>
            <button mat-raised-button color="primary">Đã chốt</button>
            <button mat-raised-button color="accent" type="button">Khách hàng từ chối</button>
            <button mat-raised-button color="warn" type="button">Hủy</button>
            <button mat-raised-button type="button" (click)="openDialogConfirm()">Bỏ qua hồ sơ</button>
            <button mat-stroked-button color="warn" type="button" (click)="close()">Đóng</button>
        </div> -->
        <ng-container *ngIf="isShowCheckbox">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
                <button mat-raised-button color="primary">Xác minh hồ sơ</button>
                <button mat-raised-button color="warn" type="button">Hủy</button>
                <button mat-raised-button type="button" (click)="openDialogConfirm()">Bỏ qua hồ sơ</button>
                <button mat-stroked-button color="warn" type="button" (click)="close()">Đóng</button>
            </div>
        </ng-container>
        <ng-container *ngIf="isShowChecked">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
                <button mat-raised-button color="primary">Thẩm định đạt</button>
                <button mat-raised-button color="warn" type="button">Thẩm định không đạt</button>
                <button mat-stroked-button color="primary">Chấm điểm và xếp hạng</button>
                <button mat-warn-button color="primary">Phân loại khách hàng</button>
                <button mat-raised-button type="button" (click)="openDialogConfirm()">Nhả hồ sơ</button>
                <button mat-stroked-button color="warn" type="button" (click)="close()">Đóng</button>
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-template #updateForm>
    <div class="p-20">
        <app-form-input-ho-so></app-form-input-ho-so>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
            <button mat-raised-button color="primary">Cập nhật hồ sơ</button>
            <button mat-stroked-button>Nhập lại</button>
            <button mat-stroked-button type="button" (click)="showUpdate(false)">Bỏ qua cập nhật</button>
        </div>
    </div>
</ng-template>