<div class="p-b-20">
  <form [formGroup]="myForm">
    <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
      <mat-form-field fxFlex="50%">
        <input
          matInput
          placeholder="Ngày thống kê"
          ngxDaterangepickerMd
          formControlName="datePickerCtrl"
          startKey="fromDate"
          endKey="toDate"
          [ranges]="ranges"
          [locale]="locale"
          alwaysShowCalendars="true"
        />
      </mat-form-field>
    </div>
    <div>
      <button mat-button mat-flat-button color="primary">Thống kê</button>
    </div>
  </form>
</div>
