<!-- <mat-form-field class="full-width">
  <mat-label>{{ label }}</mat-label>
  <mat-select [formControl]="control">
    <ng-container *ngIf="!isHiddenDefault">
      <mat-option>-- Chưa xác định -- </mat-option>
    </ng-container>
    <ng-container *ngFor="let item of $items">
      <mat-option [value]="item">{{ item }}</mat-option>
    </ng-container>
  </mat-select>
  <mat-error *ngIf="control.invalid">
    <span *ngIf="control.errors?.required"
      >{{ label ? label : placeholder }} là bắt buộc</span
    >
  </mat-error>
</mat-form-field> -->

<!-- select -->
<div class="form-group full-width">
  <ng-container *ngIf="label">
    <label>{{ label ? label : placeholder }}</label>
  </ng-container>
  <select
    class="form-control"
    [formControl]="control"
    [required]="required"
    [ngClass]="{
      'is-invalid':  control.invalid && (control.dirty || control.touched || submitted)
    }"
  >
    <ng-container *ngIf="!isHiddenDefault">
      <option [ngValue]="defaultValue">-- Chưa xác định --</option>
    </ng-container>
    <ng-container *ngFor="let item of $items">
      <option [ngValue]="item">{{ getDisplayName(item) }}</option>
    </ng-container>
  </select>
  <ng-container *ngIf=" control.invalid && (control.dirty || control.touched || submitted)">
    <ng-container *ngIf="control.errors.required">
      <span class="error invalid-feedback"> {{ label }} là bắt buộc </span>
    </ng-container>
  </ng-container>
</div>
