.text-d{
    line-height: 38px;
}
table {
    width: 600px;
    border-collapse: collapse;
  
    th {
      background-color: #428bca;
      color: #ffff;
      line-height: 56px;
      text-align: center !important;
      .mat-sort-header-content {
        margin: auto !important;
      }
    }
    td {
      background-color: white;
      color: black !important;
      padding: 1rem 1rem 0 1rem;
    }
    td,
    th,
    tr {
      border: 1px solid orange;
      text-align: center !important;
    }
  }
  