.mat-table {
    width: 100%;
    border-collapse: collapse;
  
    th {
      background-color: #428bca;
      color: #ffff;
      text-align: center !important;
      .mat-sort-header-content {
        margin: auto !important;
      }
    }
    td {
      background-color: white;
      color: black !important;
    }
    td,
    th,
    tr {
      border: 1px solid orange;
      text-align: center !important;
    }
  }
  