<div class="wrapper">
    <app-header></app-header>
    <app-nav (titleNav$)="setTitleNav($event)" (titlesNav$)="setTitlesNav($event)"></app-nav>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark" style="padding-left:20px">{{title}}</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <ng-container *ngFor="let item of lstTitle;let i = index">
                                <li class="breadcrumb-item" [ngClass]="lstTitle.length ===  i + 1 ? 'active': ''">
                                    {{item}}</li>
                            </ng-container>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>