<form [formGroup]="myForm">
  <div class="card card-info">
    <div class="card-header">
      <span class="card-title">Thông tin định danh và nhận diện</span>
    </div>
    <div class="card-body">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
        <!-- <div fxFlex="32%">
        <img class="avatar" src="../../../../../assets//img//no-image.jpg" (click)="inputAvatar.click()">
        <input type="file" style="display:none;" name="inputAvatar" #inputAvatar (change)="onAvatarChange($event)"
          accept=".png,.jpg">
        <div>
          <span class="label-avatar" (click)="inputAvatar.click()">Ảnh chân dung</span>
        </div>
      </div> -->

        <div fxFlex="100%">
          <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
            <input-text
              label="Họ và Tên"
              fxFlex="49%"
              length="30"
              formControlName="hoTenCtrl"
            ></input-text>
            <input-date
              label="Ngày sinh"
              fxFlex="49%"
              required="true"
              formControlName="ngaySinhCtrl"
            ></input-date>
          </div>
          <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
            <input-select
              label="Giới tính"
              fxFlex="23.5%"
              formControlName="gioiTinhCtrl"
              [items]="getListSelect('gioiTinhCtrl')"
              keyDisplay="name"
            >
            </input-select>
            <input-text
              label="Hộ khẩu thường trú"
              fxFlex="74.5%"
              formControlName="hoKhauThuongTruCtrl"
            ></input-text>
          </div>
          <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
            <input-select
              label="Loại giấy tờ định danh"
              fxFlex="49%"
              formControlName="loaiDinhDanhCtrl"
              [items]="getListSelect('loaiDinhDanhCtrl')"
              keyDisplay="name"
            ></input-select>
            <input-text
              label="Số định danh"
              fxFlex="49%"
              length="20"
              formControlName="soDinhDanhCtrl"
            ></input-text>
          </div>
          <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
            <input-date
              label="Ngày cấp"
              fxFlex="49%"
              formControlName="ngayCapCtrl"
            ></input-date>
            <input-text
              label="Nơi cấp"
              fxFlex="49%"
              formControlName="noiCapCtrl"
            ></input-text>
          </div>

          <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
            <input-date
              label="Hiệu lực đến"
              fxFlex="49%"
              formControlName="hieuLucDenCtrl"
            ></input-date>
            <input-text
              label="Quốc tịch"
              fxFlex="49%"
              formControlName="quocTichCtrl"
            ></input-text>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-info">
    <div class="card-header">
      <span class="card-title">Thông tin liên hệ</span>
    </div>
    <div class="card-body">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
        <input-text
          label="Số điện thoại"
          required="true"
          isTel="true"
          fxFlex="32%"
          formControlName="soDienThoaiCtrl"
        >
        </input-text>
        <input-text
          label="Số điện thoại tham chiếu 1"
          isTel="true"
          fxFlex="32%"
          formControlName="soDienThoaiThamChieu1Ctrl"
        >
        </input-text>
        <input-text
          label="Số điện thoại tham chiếu 2"
          isTel="true"
          fxFlex="32%"
          formControlName="soDienThoaiThamChieu2Ctrl"
        >
        </input-text>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
        <input-text
          label="Email"
          isEmail="true"
          fxFlex="32%"
          formControlName="emailCtrl"
        ></input-text>
        <input-text
          fxFlex="66%"
          label="Địa chỉ"
          formControlName="diaChiCtrl"
        ></input-text>
      </div>
    </div>
  </div>

  <div class="card card-info">
    <div class="card-header">
      <span class="card-title">Thông tin đặc trưng</span>
    </div>
    <div class="card-body">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
        <input-select
          label="Giới tính hiện tại"
          fxFlex="23.5%"
          formControlName="gioiTinhHienTaiCtrl"
          [items]="getListSelect('gioiTinhHienTaiCtrl')"
          keyDisplay="name"
        >
        </input-select>
        <input-text fxFlex="66%" label="Tuổi" formControlName="tuoiCtrl">
        </input-text>
        <input-select
          label="Tình trạng hôn nhân"
          fxFlex="23.5%"
          formControlName="tinhTrangHonNhanCtrl"
          [items]="getListSelect('tinhTrangHonNhanCtrl')"
          keyDisplay="name"
        >
        </input-select>
        <input-text
          label="Số người phụ thuộc"
          fxFlex="23.5%"
          isDecimalNumber="true"
          length="5"
          formControlName="soNguoiPhuThuocCtrl"
        >
        </input-text>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
        <input-text
          label="Thu nhập hàng tháng"
          isDecimalNumber="true"
          length="5"
          fxFlex="23.5%"
          suffix="triệu đồng"
          formControlName="thuNhapThangCtrl"
        >
        </input-text>

        <input-select
          label="Nhà ở"
          fxFlex="23.5%"
          formControlName="nhaOCtrl"
          [items]="getListSelect('nhaOCtrl')"
          keyDisplay="name"
        ></input-select>

        <input-select
          label="Trình độ học vấn"
          fxFlex="49%"
          formControlName="trinhDoHocVanCtrl"
          [items]="getListSelect('trinhDoHocVanCtrl')"
          keyDisplay="name"
        >
        </input-select>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
        <input-text
          label="Danh hiệu"
          fxFlex="23.5%"
          hint="Số lượng danh hiệu đạt được"
          formControlName="danhHieuCtrl"
        >
        </input-text>

        <input-select
          label="Loại đơn vị công tác hiện tại"
          fxFlex="23.5%"
          formControlName="loaiDonViCongTacCtrl"
          [items]="getListSelect('loaiDonViCongTacCtrl')"
          keyDisplay="name"
        ></input-select>
        <input-select
          label="Cấp quản lý"
          fxFlex="49%"
          formControlName="capQuanLyCtrl"
          [items]="getListSelect('capQuanLyCtrl')"
          keyDisplay="name"
        >
        </input-select>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
        <input-text
          label="Số hợp đồng bảo hiểm"
          fxFlex="23.5%"
          formControlName="soHopDongBaoHiemCtrl"
          isDecimalNumber="true"
          length="5"
        >
        </input-text>

        <input-text
          label="Số thẻ tín dụng"
          fxFlex="23.5%"
          hint="Số lượng thẻ tín dụng đang sử dụng"
          formControlName="soTheTinDungCtrl"
        >
        </input-text>
        <input-select
          label="Nợ xấu"
          fxFlex="23.5%"
          formControlName="noXauCtrl"
          [items]="getListSelect('noXauCtrl')"
          keyDisplay="name"
        >
        </input-select>
        <input-select
          label="Lịch sử tín dụng"
          fxFlex="23.5%"
          formControlName="lichSuTinDungCtrl"
          [items]="getListSelect('lichSuTinDungCtrl')"
          keyDisplay="name"
        ></input-select>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
        <input-select
          label="Tính thanh khoản"
          fxFlex="23.5%"
          formControlName="tinhThanhKhoanCtrl"
          [items]="getListSelect('tinhThanhKhoanCtrl')"
          keyDisplay="name"
        ></input-select>
        <input-text
          label="Tổng dư nợ tín dụng hiện tại"
          fxFlex="23.5%"
          suffix="triệu đồng"
          formControlName="tongDuNoTinDungCtrl"
        >
        </input-text>
        <input-text
          label="Tổng giá trị đảm bảo"
          fxFlex="23.5%"
          suffix="triệu đồng"
          formControlName="tongGiaTriDamBaoCtrl"
        >
        </input-text>
      </div>
    </div>
  </div>

  <div class="card card-info">
    <div class="card-header">
      <span class="card-title">Thông tin khoản vay</span>
    </div>
    <div class="card-body">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
        <input-select
          label="Loại khoản vay"
          fxFlex="23.5%"
          formControlName="loaiKhoanVayCtrl"
          [items]="getListSelect('loaiKhoanVayCtrl')"
          keyDisplay="name"
        ></input-select>
        <input-text
          label="Sản phẩm cho vay"
          fxFlex="74.5%"
          formControlName="sanPhamChoVayCtrl"
        >
        </input-text>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
        <input-text
          label="Số tiền vay"
          fxFlex="23.5%"
          suffix="triệu đồng"
          formControlName="soTienVayCtrl"
        >
        </input-text>
        <input-text
          label="Kỳ hạn"
          fxFlex="23.5%"
          formControlName="kyHanCtrl"
          isDecimalNumber="true"
          length="2"
          suffix="tháng"
        >
        </input-text>
        <input-select
          label="Hình thức vay"
          fxFlex="23.5%"
          formControlName="hinhThucVayCtrl"
          [items]="getListSelect('hinhThucVayCtrl')"
          keyDisplay="name"
        ></input-select>
        <input-select
          label="Hình thức thanh toán"
          fxFlex="23.5%"
          formControlName="hinhThucThanhToanCtrl"
          [items]="getListSelect('hinhThucThanhToanCtrl')"
          keyDisplay="name"
        ></input-select>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
        <input-text
          label="Lãi suất"
          fxFlex="23.5%"
          formControlName="laiSuatCtrl"
          isDecimalNumber="true"
          length="5"
          suffix="%"
        >
        </input-text>
        <input-text
          label="Mục đích vay"
          textarea="true"
          fxFlex="74.5%"
          formControlName="mucDichVayCtrl"
        >
        </input-text>
      </div>
    </div>
  </div>
</form>
