<!-- <div class="title">
    <i class="fas fa-arrow-left" title="Quay lại danh sách"></i>
    <span>Chi tiết người dùng</span>
</div>
<mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
</mat-list> -->

<div style="padding-bottom: 1px;">
    <div class="card card-success">
        <div class="card-header">
            <span class="card-title">
                <span>
                    <i class="fas fa-arrow-left" title="Quay lại danh sách"></i>
                </span>
                Thông tin chi tiết người dùng</span>
        </div>
        <div class="card-body">
            <div fxLayout="row" fxLayoutGap="2%" class="list-item">
                <span class="label" fxFlex="20%">Họ tên</span>
                <span class="value">Tạ Đức Hiệp</span>
            </div>
            <mat-divider></mat-divider>

            <div fxLayout="row" fxLayoutGap="2%" class="list-item">
                <span class="label" fxFlex="20%">Số điện thoại</span>
                <span class="value">0975 290 896</span>
            </div>
            <mat-divider></mat-divider>

            <div fxLayout="row" fxLayoutGap="2%" class="list-item">
                <span class="label" fxFlex="20%">Email</span>
                <span class="value">hiepdev96@gmail.com</span>
            </div>
            <mat-divider></mat-divider>

            <div fxLayout="row" fxLayoutGap="2%" class="list-item">
                <span class="label" fxFlex="20%">Vai trò</span>
                <span class="value">ADMINISTRATOR</span>
            </div>
            <mat-divider></mat-divider>

            <div fxLayout="row" fxLayoutGap="2%" class="list-item">
                <span class="label" fxFlex="20%">Tổ chức</span>
                <span class="value">Công ty chống khủng bố Việt Nam</span>
            </div>
            <mat-divider></mat-divider>

            <div fxLayout="row" fxLayoutGap="2%" class="list-item">
                <span class="label" fxFlex="20%">Chức vụ</span>
                <span class="value">Tạp vụ</span>
            </div>
            <mat-divider></mat-divider>

            <div fxLayout="row" fxLayoutGap="2%" class="list-item">
                <span class="label" fxFlex="20%">Địa chỉ</span>
                <span class="value">Khu tập thể dục thể thao</span>
            </div>
            <mat-divider></mat-divider>

            <div fxLayout="row" fxLayoutGap="2%" class="list-item">
                <span class="label" fxFlex="20%">Mô tả</span>
                <span class="value">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                    an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                    containing.</span>
            </div>
            <mat-divider></mat-divider>

            <div fxLayout="row" fxLayoutGap="2%" class="list-item">
                <span class="label" fxFlex="20%">Phạm vi</span>
                <div class="value-1">
                    <div>
                        <span>/</span>
                        <br/>
                        <span class="date">(20/10/2020 - 22/12/2021)</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <span>/Hà Nội/Nam Từ Liêm/Mễ Trì</span>
                        <br/>
                        <span class="date">(20/10/2020 - 22/12/2021)</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <span>/Bắc Ninh/Thuận Thành/Nguyệt Đức</span>
                        <br/>
                        <span class="date">(20/10/2020 - 22/12/2021)</span>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>

        </div>
        <div class="card-footer">
            <div fxLayout="row" fxLayoutGap="2%">
                <button mat-flat-button color="primary">Cập nhật thông tin</button>
                <button mat-flat-button color="accent">Lịch sử hoạt động</button>
                <button mat-flat-button color="warn">Xóa</button>
            </div>
        </div>
    </div>
</div>