<div style="padding-bottom: 1px">
  <div class="card card-success">
    <!-- <div class="card-header">
                  <span class="card-title">
                      <span>
                          <i class="fas fa-arrow-left" title="Quay lại danh sách"></i>
                      </span>
                      Thông tin chi tiết người dùng</span>
              </div> -->
    <div class="card-body">
      <div fxLayout="row" fxLayoutGap="2%" class="list-item">
        <span class="label" fxFlex="20%">Họ tên</span>
        <span class="value">{{ $item.full_name }}</span>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutGap="2%" class="list-item">
        <span class="label" fxFlex="20%">Số điện thoại</span>
        <span class="value">{{ $item.phone_number }}</span>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutGap="2%" class="list-item">
        <span class="label" fxFlex="20%">Email</span>
        <span class="value">{{ $item.email }}</span>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutGap="2%" class="list-item">
        <span class="label" fxFlex="20%">Vai trò</span>
        <span class="value">{{ $item.role }}</span>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutGap="2%" class="list-item">
        <span class="label" fxFlex="20%">Trạng thái</span>
        <span class="value">{{ getStatus($item.status) }}</span>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutGap="2%" class="list-item">
        <span class="label" fxFlex="20%">Secret Key</span>
        <span class="value">{{ $item.pass }}</span>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutGap="2%" class="list-item">
        <span class="label" fxFlex="20%">Cơ quan</span>
        <span class="value">{{ $item.organization }}</span>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutGap="2%" class="list-item">
        <span class="label" fxFlex="20%">Vị trí</span>
        <span class="value">{{ $item.position }}</span>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutGap="2%" class="list-item">
        <span class="label" fxFlex="20%">Địa chỉ</span>
        <span class="value">{{ $item.address }}</span>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutGap="2%" class="list-item">
        <span class="label" fxFlex="20%">Mô tả</span>
        <span class="value">{{ $item.note }}</span>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutGap="2%" class="list-item">
        <span class="label" fxFlex="20%">Phạm vi</span>
        <div class="value-1">
          <ng-container *ngFor="let item of $item.scope">
            <div>
              <span>{{ item.scope }}</span>
              <br />
              <span class="date"
                >({{ convertToDate(item.from) | date: "dd/MM/yyyy" }} -
                {{ convertToDate(item.to) | date: "dd/MM/yyyy" }})</span
              >
            </div>
            <mat-divider></mat-divider>
          </ng-container>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <!-- <div class="card-footer">
        <div fxLayout="row" fxLayoutGap="2%">
          <button mat-flat-button color="primary" (click)="toggleEditForm(true)">
            Cập nhật thông tin
          </button>
          <button mat-flat-button color="primary">Thêm phạm vi</button>
          <button mat-flat-button color="accent">Lịch sử hoạt động</button>
          <button mat-flat-button color="warn">Xóa</button>
        </div>
      </div> -->
  </div>
</div>
