<!-- <div mat-dialog-title>Cập nhật phạm vi của người dùng: Tạ Đức Hiệp</div>
<div mat-dialog-content>



    <mat-accordion class="example-headers-align">
        <ng-container *ngFor="let item of lstScope; let idx = index">
            <mat-expansion-panel hideToggle [expanded]="step === idx" (opened)="setStep(idx)">

                <mat-expansion-panel-header>
                    <ng-container *ngIf="step !== idx">
                        <mat-panel-title>
                            /Hà Nội/Hai Bà Trưng/Đồng Tâm
                        </mat-panel-title>
                        <mat-panel-description>
                            <span></span> <span><label>Thời gian hiệu lực: </label> 20/10/2020 - 20/1/2021</span>
                        </mat-panel-description>
                    </ng-container>


                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                    <input-text label="Phạm vi" fxFlex="49%" value="/"></input-text>
                    <input-date label="Hiệu lực từ ngày" fxFlex="23.5%"></input-date>
                    <input-date label="Hiệu lực đến ngày" fxFlex="23.5%"></input-date>
                </div>
                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Xóa</button>
                </mat-action-row>
            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>



    <div>
        <button mat-button class="full-width" style="font-size: 20px;color: blue;" title="Thêm phạm vi"
            (click)="addScope()">+</button>
    </div>
</div>
<mat-dialog-actions fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
    <button mat-button mat-flat-button color="primary" cdkFocusInitial>Cập nhật</button>
    <button mat-button mat-dialog-close>Bỏ qua</button>
</mat-dialog-actions> -->

<div class="modal-content">
  <div mat-dialog-title>
    <div class="modal-header" style="background-color: #f1f1f1">
      <span class="modal-title"
        >Cập nhật phạm vi của người dùng: Tạ Đức Hiệp</span
      >
      <span type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </span>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="modal-body">
      <ng-container *ngFor="let item of lstScope; let idx = index">
        <div class="pt-20">
          <div class="card card-default">
            <div class="card-header">
              <span class="card-title" style="color: blue"
                >Phạm vi {{ idx + 1 }}</span
              >
              <div class="card-tools">
                <button type="button" class="btn btn-tool">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div fxLayout="row" fxLayoutGap="2%" fxLayout.xs="column">
                <input-select label="Tỉnh thành" fxFlex="20%"></input-select>
                <input-select label="Quận huyện" fxFlex="20%"></input-select>
                <input-select label="Phường xã" fxFlex="20%"></input-select>
                <input-date label="Hiệu lực từ ngày" fxFlex="20%"></input-date>
                <input-date label="Hiệu lực đến ngày" fxFlex="20%"></input-date>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div>
        <button
          mat-button
          class="full-width"
          style="font-size: 20px; color: blue"
          title="Thêm phạm vi"
          (click)="addScope()"
        >
          +
        </button>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-flat-button color="primary" cdkFocusInitial>
      Cập nhật
    </button>
    <button mat-button mat-dialog-close>Bỏ qua</button>
  </div>
</div>
