/* You can add global styles to this file, and also import other style files */

.line-height-40 {
  line-height: 40px;
}

@import 'assets/css/adminlte.css';
// @import '../node_modules/@angular/material/prebuilt-themes/purple-green.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-label-content {
  color: black;
  text-transform: uppercase;
}

.mat-tab-body-content {
  padding-top: 15px;
}

label {
  font-weight: normal !important;
}

.full-width {
  width: 100%;
}

.mat-tab-body {
  padding: 20px;
}

.p-20 {
  padding: 20px;

}

.p-b-20 {
  padding-bottom: 20px;
}
.m-b-20{
  margin-bottom: 20px;
}
.mat-paginator-page-size-label {
  display: none !important;
}

table {
  width: 100%;
}

.mat-paginator,
.mat-table {
  background: #424242;
}

.mat-header-cell {
  color: rgba(255, 255, 255, .7);
}

.mat-cell,
.mat-footer-cell {
  color: #fff;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  color: rgba(255, 255, 255, .7);
}

.mat-button.mat-primary.mat-button-disabled,
.mat-button.mat-accent.mat-button-disabled,
.mat-button.mat-warn.mat-button-disabled,
.mat-button.mat-button-disabled.mat-button-disabled,
.mat-icon-button.mat-primary.mat-button-disabled,
.mat-icon-button.mat-accent.mat-button-disabled,
.mat-icon-button.mat-warn.mat-button-disabled,
.mat-icon-button.mat-button-disabled.mat-button-disabled,
.mat-stroked-button.mat-primary.mat-button-disabled,
.mat-stroked-button.mat-accent.mat-button-disabled,
.mat-stroked-button.mat-warn.mat-button-disabled,
.mat-stroked-button.mat-button-disabled.mat-button-disabled {
  color: rgba(255, 255, 255, .3);
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {

  .mat-select-value,
  .mat-select-arrow {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  .mat-form-field-underline {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
