<mat-tab-group [selectedIndex]="index" (selectedIndexChange)="changeSelectedIndex($event)">
    <mat-tab label="Danh sách">
        <app-danh-sach-ho-so ($openDetail)="showDetail($event)"></app-danh-sach-ho-so>
    </mat-tab>
    <ng-container *ngFor="let tab of tabs">
        <mat-tab [label]="tab.name">
            <app-chi-tiet-ho-so [$item]="tab.value" [$id]="tab.id" [$status]="tab.status" ($closeAndReload)="closeAndReload($event)"></app-chi-tiet-ho-so>
        </mat-tab>
    </ng-container>
</mat-tab-group>