<div class="form-group full-width">
    <ng-container *ngIf="label">
      <label>{{ label ? label : placeholder }}</label>
    </ng-container>
    <select class="form-control" [formControl]="control">
      <ng-container *ngIf="!isHiddenDefault">
        <option [value]="defaultValue">-- Chưa xác định --</option>
      </ng-container>
      <ng-container *ngFor="let item of getProvices()">
        <option [ngValue]="item">{{ item.name_with_type }}</option>
      </ng-container>
    </select>
  </div>
  