.actions {
  margin-top: 50px;
}
.upgrade {
  margin-right: 20px;
}
.delete {
  margin-left: 20px;
  color: red;
}
.sub-title {
  font-size: 13px !important;
  font-style: italic;
}
a {
  cursor: pointer !important;
}
.empty {
  font-size: 20px;
  color: red;
  text-align: center;
}
.label-f {
  color: green;
  display: inline-block;
    min-width: 75px;
}
