<div class="modal-content">
    <div mat-dialog-title>
        <div class="modal-header" style="background-color: #f1f1f1">
            <span class="modal-title">Tệp đính kèm</span>
            <span type="button" class="close" mat-dialog-close>
                <span aria-hidden="true">×</span>
            </span>
        </div>
    </div>
    <div mat-dialog-content>
        <div class="modal-body">
            <ng-container>
                <div fxLayout="row" fxLayoutGap="2%" class="list-item">
                    <div  fxFlex="20%">
                        <span class="label">Họ tên</span>
                    </div>
                    <div>

                    </div>
                </div>
                <mat-divider></mat-divider>
            </ng-container>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Đóng</button>
    </div>
</div>