<div class="modal-content">
  <div mat-dialog-title>
    <div class="modal-header" style="background-color: #f1f1f1">
      <span class="modal-title">Tệp đính kèm</span>
      <span type="button" class="close" mat-dialog-close>
        <span aria-hidden="true">×</span>
      </span>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="modal-body">
      <mat-list>
        <ng-container *ngFor="let data of datas">
          <div mat-subheader>{{ data.title }}</div>
          <ng-container *ngFor="let value of data.values; let i = index">
            <mat-list-item>
              <mat-icon
                mat-list-icon
                style="cursor: pointer"
                (click)="viewFile(value)"
                title="Xem tài liệu"
                >note</mat-icon
              >
              <div mat-line>
                <a
                  href="javascript:void(0)"
                  (click)="viewFile(value)"
                  title="Xem tài liệu"
                  >{{ value.ten_file }}</a
                ><span *ngIf="value.ghi_chu"> - {{ value.ghi_chu }}</span>
              </div>
              <div mat-line>
                <span>
                  <div class="label-f">Ngày đăng:</div>
                  {{ convertToDate(value.thoi_diem_tao) | date: "dd/MM/yyyy" }}
                </span>
              </div>
              <div mat-line>
                <span>
                  <div class="label-f">Thiết bị:</div>
                  {{ value.ten_thiet_bi }}
                </span>
              </div>
              <div mat-line>
                <span>
                  <div class="label-f">Nền tảng:</div>
                  {{ value.nen_tang }}
                </span>
              </div>
              <div
                mat-line
                [title]="'Vị trí: ' + value.vi_tri"
                style="cursor: context-menu"
              >
                <span class="upgrade">
                  <div class="label-f">Địa chỉ:</div>
                  {{ value.dia_chi }}
                </span>
              </div>
            </mat-list-item>
            <mat-divider *ngIf="data.values.length - 1 > i"></mat-divider>
          </ng-container>
        </ng-container>
      </mat-list>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Đóng</button>
  </div>
</div>
<a style="display: none" #download [href]="file" target="_blank">Download</a>
