.name-user {
    margin-left: 5px;
    color: green;
    font-weight: bolder;
}
.drop-down-user {
    margin-left: 5px;
}
.dropdown-header {
    padding: 0.5rem 1.25rem;
    margin-bottom: 0;
    font-size: 0.765625rem;
    white-space: nowrap;
    color: #8a93a2;
}
.bg-light {
    background-color: #ebedef !important;
}

